<div class="DashboardPanel"
  @dblclick.prevent.stop="toggleFullScreen">
  <div class="panel ui grid">
      <div class="seven wide middle aligned column">
        <CoverImage 
          ref="CoverImage"
          :db="db">
        </CoverImage>
      </div>
      <div class="nine wide middle aligned message column">
        <NowMessage 
          ref="NowMessage"
          :db="db">
        </NowMessage>
        <ClockWidget 
          ref="ClockWidget"
          :db="db">
        </ClockWidget>
        <NextMessage 
          ref="NextMessage"
          :db="db">
        </NextMessage>
        <NoteMessage 
          ref="NoteMessage"
          :db="db">
        </NoteMessage>
      </div>
  </div>

  <CountdownTimer 
    ref="CountdownTimer"
    :db="db">
  </CountdownTimer>
  
  <RolloutWidget 
    ref="RolloutWidget"
    :db="db"
    v-show="db.localConfig.rolloutNumber">
  </RolloutWidget>

</div>