<div class="DashboardPanel"
  @dblclick.prevent.stop="toggleFullScreen">
  <div class="panel ui grid"
    v-if="coverType === 'image'">
      <div class="seven wide middle aligned column">
        <CoverImage 
          ref="CoverImage"
          :db="db">
        </CoverImage>
      </div>
      <div class="nine wide middle aligned message column">
        <MessagePanel 
          ref="MessagePanel"
          :db="db">
        </MessagePanel>
      </div>
  </div>

  <div class="panel ui grid"
    v-if="coverType === 'iframe'">
    <div class="six wide middle aligned column">
      <MessagePanel 
        ref="MessagePanel"
        :db="db"
        size="small">
      </MessagePanel>
    </div>
    <div class="ten wide middle aligned message column">
      <IframeWidget 
        ref="IframeWidget"
        :db="db">
      </IframeWidget>
    </div>
</div>



  <CountdownTimer 
    ref="CountdownTimer"
    :db="db">
  </CountdownTimer>
  
  <RolloutWidget 
    ref="RolloutWidget"
    :db="db"
    v-show="db.localConfig.rolloutNumber">
  </RolloutWidget>

</div>